.test-cases-header-container {
    display: flex;
    justify-items: center;
    height: 2.5rem;

    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.test-cases-header-container>*+* {
    margin-left: 1.5rem;
}

.test-cases-header-items {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;

}

.test-cases-header-content {
    font-weight: bold;
    font-size: medium;
    line-height: 1.25rem;

}

.test-cases-header-hr {

    position: absolute;
    bottom: 0;
    height: 0.125rem;
    width: 5rem;
    border: none;
    background-color: #f0f0f0;
    border-radius: 9999px;
}

.test-cases-case-container {
    display: flex;

    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.test-cases-case {
    justify-items: start;
    margin-top: 0.25rem;
    height: 2rem;
    width: 100%;

}

.test-cases-case-selection {
    display: flex;
    justify-items: center;
    column-gap: .5rem;
}

.test-cases-case-selection-title {
    font-size: medium;
    font-weight: bold;
    justify-items: center;
    transition: all 0.2s ease-in-out;
    border-radius: 0.5rem;
    display: inline-flex;
    background-color: hsl(0, 0%, 100%, 0.1);
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    cursor: pointer;
    white-space: nowrap;
}

.test-cases-case-selection-title:focus {
    outline: none;
}

.test-cases-case-selection-title:hover {
    background-color: hsl(0 0% 66%);
    color: #f5f5f5;
    border: none;
}

.test-cases-case-content {
    font-weight: semibold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}


.test-cases-case-content-section {
    font-size: .875rem;
    font-weight: bold;
    margin-top: 1rem;
    color: #ffffff;
    height: 1rem;
    margin-right: 1rem;
    text-align: left;
}

.test-cases-case-content-section-content {
    cursor: text;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: hsl(0, 0%, 100%, 0.1);
    color: #ffffff;
    margin-top: 0.rem;
    text-align: left;
    width: 100%;
}