.close-btn,
.max-btn,
.min-btn {
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 100%;
    width: 25px;
    border: none;
    object-fit: cover;

}

.close-btn {
    background-image: url("/src/assets/Desktop/window/close_btn.png");
}

.max-btn {
    background-image: url("/src/assets/Desktop/window/maximize_btn.png");
}

.min-btn {
    background-image: url("/src/assets/Desktop/window/minimize_btn.png");
}

.btn-container {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.close-btn-tile,
.btn-tile {
    width: 45px;
    height: 25px;
    background-color: rgb(46, 46, 46);
}

.btn-tile:hover {
    background-color: #757575;
}

.close-btn-tile:hover {
    background-color: #ff0000;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    align-items: center;
    justify-content: end;
    background-color: rgba(75, 75, 75, 0.9);
    height: 25px;
}