.playground-footer {
    display: flex;
    background-color: #262626;
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
}

.playground-footer-inner {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.playground-footer-left {
    margin-right: 0.5rem;
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

.playground-footer-button {
    padding: 0.375rem 0.75rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s;
    background-color: #3a3a3a;
    font-size: 0.875rem;
    color: #b3b3b3;
    border-radius: 0.5rem;
    outline: none;
}

.playground-footer-button:hover {
    background-color: #525252;
    outline: none;
    border: none;
}

.playground-footer-button-console {
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    outline: none;
}

.playground-footer-icon {
    margin-left: 0.25rem;
    display: flex;
    align-items: center;
    transition: transform 0.2s;
}

.playground-footer-icon-chevron {
    fill: #949494;
    margin: 0 0.25rem;
}

.playground-footer-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.playground-footer-button-run {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    transition: all 0.2s;
    background-color: #3a3a3a;
    color: #b3b3b3;
    border-radius: 0.5rem;
    outline: none;
}

.playground-footer-button-run:hover {
    background-color: #525252;
    outline: none;
    border: none;
}

.playground-footer-button-submit {
    padding: 0.375rem 0.75rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s;
    font-size: 0.875rem;
    color: #ffffff;
    background-color: #109932;
    border-radius: 0.5rem;
    outline: none;
}

.playground-footer-button-submit:hover {
    background-color: #28c244;
    outline: none;
    border: none;
}