#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  border: 2px solid #f0f0f0;
}

button img {
  width: 15vh;
  /* Ensure buttons have the same width */
  height: 12vh;
  /* Set a consistent height */
}

.snake-btn,
.algo-btn {
  width: 15vh;
  /* Ensure buttons have the same width */
  height: 12vh;
  /* Ensure buttons have the same height */
  margin: 10px;
  /* Add some margin for spacing */
}